{% extends 'base.html' %}
{% load static %}
{% load django_vite %}

{% block extrastyle %}{% endblock %}
{% block extrahead %}
    {% if DEBUG %}
        <script type="module">
            import RefreshRuntime from 'http://localhost:3000/@react-refresh'

            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {
            }
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>

        {% vite_hmr_client %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block extrascript %}
    {% vite_asset 'src/main.tsx' %}
{% endblock %}